@import './modules/variables.css';

.body{
    background-color: rgb(230, 95, 95) ;
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.menu{
    background-color: rgba(255, 0, 0, 0.115);
    list-style: none ;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;   
    
}
.hero{
    padding: 0rem;
}
.hero:hover{
    border:solid rgba(113, 100, 100, 0.526);
}
.experiencias{
    padding: 1rem;
}
.contacto{
    padding: 1rem;
    padding-right: 15rem;
}